.home_main_content {
  width: calc(100% - 16rem);
  margin: 0 0 0 16rem;
  height: 100dvh;
  overflow-x: hidden;
  overflow-y: scroll;
  background: rgba(0, 0, 0, 0.57);
  padding: 1rem 2rem 1rem 4rem;
  &::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
}

.home_main {
  height: 100dvh;
  background-image: url(../../assets/matrix_background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: lightgray;
  background-position: 50% 50%;
}

@media (max-width: 998px) {
  .home_main_content {
    width: 100%;
    margin: 0%;
    overflow: visible;
    padding: 2.23rem;
  }
}
